.field {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.field .input + .label, .field .select + .label, .field .textarea + .label {
    top: 1.5rem;
}

.legend {
    margin-bottom: .8rem;
    margin-top: .5rem;
    font-size: 1.3rem;
    color: #72bf44;
}
